*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face{
    font-family: "AVENGEANCE HEROIC AVENGER BI";
    src: url(../fonts/AVENGEANCE\ HEROIC\ AVENGER\ BI.otf);
}
@font-face{
    font-family: "GALACTIC VANGUARDIAN NCV";
    src: url(../fonts/GALACTIC\ VANGUARDIAN\ NCV.ttf);
}
body{
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(../images/avengers/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.title{
    margin: 0 auto 20px 5%;
    top: 20px;
    position: relative;
    max-width: 900px;
    max-height: 23vh;
    color: white;
    font-family: "AVENGEANCE HEROIC AVENGER BI";
    text-align: center;
}
.title h1, .title p, hr {
    width: 900px;
    margin: 0 auto;
}
.title h1{
    font-size: 6em;
    height: 120px;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(248,211,70);
    background: linear-gradient(to bottom, rgba(153,67,17,1) 0%, rgba(153,67,17,1) 1%, rgba(219,188,76,1) 68%, rgba(248,211,70,1) 99%, rgb(248, 230, 70) 100%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title hr{
    background-color: rgba(248,211,70); height: 1px; border: 0; 
}
.title p{
    height: 35px;
    font-size: 25px;
    line-height: 30px;
    padding: 5px;
    font-family: "GALACTIC\ VANGUARDIAN\ NCV";
    color: rgba(248,211,70);
}
/*basic style finished*/

#game{
    display: flex;
    align-items: flex-end;
    /* align-content: flex-end; */
    max-width: 900px;
    height: auto;
    margin: auto auto 0 5%;
    padding: 20px 0;
    bottom: 0;
}

.grid {
    top: 0;
    max-width: 600px;
    max-height: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}
.card, .back, .front{
    height: 130px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px #4b0175;
    transition: all .4s linear;
}
.card:hover, .back:hover, .front:hover{
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(255, 169, 8, 0.938);
}
.back, .front {
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-image: url(../images/avengers/logoAvengers.jpg);
    background-size: cover;
    background-position: center;
    
}
.back{
    transform: rotateY(180deg);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.selected {
    transform: rotateY(180deg);
    background: transparent !important;
}
.match .front, .match .back, .card.match {
    background: rgb(1, 1, 1, 1) url(../images/avengers/logoAvengers.jpg) no-repeat center cover;
    opacity: 0.5;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/* congratulations window */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #rgba(255,255,255,0.73);
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: 'Gloria Hallelujah', cursive;
}


.popup h2 {
    text-align: center;
    margin-top: 0;
    color: #fff;
    font-family: 'GALACTIC VANGUARDIAN NCV', cursive;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .close:hover {
    color: #E5F720;
}

.popup .content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

#play-again {
    background-color: #141214;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'GALACTIC VANGUARDIAN NCV', cursive;
    color: #ffffff;
    border-radius: 5px;
}

/*
in js:
test.style.color = "#fff"
"#fff"
test.style.fontFamily = "'GALACTIC VANGUARDIAN NCV'"
*/


